/* Calendar.css */
.calendar {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 20px auto 0;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
}

.calendar-header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.header-left {
  flex: 1; /* Take up available space on the left */
  text-align: left;
}

.header-right {
  flex: 1; /* Take up available space on the right */
  text-align: right;
}

.calendar-header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px; 
}

.calendar-header button:hover {
  background-color: #0056b3;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  
  gap: 0;
  text-align: center;
  width: 100%;
  height: 80%;
  border-radius: 5px; 
  overflow: hidden;
}

.day {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 20px;
  color: hsl(182, 92%, 29%); /* Blue color */
  
}


.day-empty {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1.5rem;
}

.day .day-number {
  position: absolute;
  top: 5px; /* Adjust the top position as needed */
  right: 5px; /* Adjust the right position as needed */
  font-size: 0.8rem; /* Adjust the font size as needed */
  color: black;
}

.additional-div {
  flex: 1;
  text-align: center;
  padding: 5px;
  overflow: auto;
  font-size: clamp(0.5rem, 1vw, 2rem);

}

.additional-div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional-div li {
  margin: 4px 0;
}

.holiday {
  background-color: hsl(0, 7%, 92%); /* Replace with your desired background color */
  padding: 4px 0;
  border-radius: 4px;
  margin-top: 2px;
}

.selected-holiday {
  color: black;
}

.day:nth-child(-n + 7) {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px; /* Adjust the height for the first row (names of the days) */
  font-weight: bold; /* Make the text bold for the first row */
  background-color: hsl(182, 78%, 85%);
}
